*{
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

canvas{    
    border: 1px dashed gray;
    width: 500px;
    height: 500px;
}

input#bg_color{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.color_selector {
    display: flex;
    flex-direction: row;
}

.color_selector .color{
    height: 50px;
    width: 50px;    
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,250,0.5);
}
.color_selector>div.selected{
    border: 1px dashed currentColor;
}

.color_selector .color:hover{
    transform: translate(3px,3px);
}


.wrapper ol{
    text-align: start;    
    font-size: 20px;
}

.wrapper h2{
    font-size: 15px;    
}

